<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.5/jspdf.plugin.autotable.js"></script>
<style>
 table, th, td {
        border: 1px solid black; 
        font-size:18px;
        letter-spacing: 1px;
    }
    #dirigido {
        font-size : 14px;
    }
    #contenido {
        font-size: 14px; 
    }
    #tabla2 td {
        border: 1px solid black;
        border-collapse: collapse;

    }
    #fecha{
        float: right;
    }
    #encabezadotexto{
        float:right;
    }

    #final {
        font-size: 14px;
    }
    #contenido1 {
        text-align: justify;
    }
     #uno {
        font-size: 25px;
        letter-spacing: 1px;
    }

</style>

<body onload="pruebaDivAPdf()"></body>
<div id="print">
     <div class="container"  id="uno">
    <div id="imagen" align="center">
        <img src="../../img/logo.png" style="width: 700px; height:80px">
    </div>
        <br>
        <div class="padding-m" align="center">
            Lista de asistencia a reunion de ciclo 2018-2019
        </div>
        <br>
        <table align="center">
            <tr align="center">

                <th>Nombre escuela</th>
                <th>Zona</th>
                <th>Tipo</th>
                <th>Hora Entrada</th>
                <th>Hora Salida</th>
                <th>Email</th>
                <th>Telefono</th>
            </tr>
            <tr>
                <td>{{form6s6.nombre}}</td>
                <td>{{form6s6.zona}}</td>
                <td>{{form6s6.tipo}}</td>
                <td>{{form6s6.horae}}</td>
                <td>{{form6s6.horas}}</td>
                <td>{{form6s6.email}}</td>
                <td>{{form6s6.telefono}}</td>
            </tr>
        </table>
        <br>
         <center>ZACATECAS, ZAC.<br>
            FECHA: {{form6s6.fecha}}<br>
        </center>
    </div>
   
</div>

<script>
    function pruebaDivAPdf() {
        var doc = new jsPDF('p', 'mm', 'a4', true);
        html2canvas(($("#print")[0]), {
            background: '#FFFFFF',
            onrendered: function (canvas) {
                var imgData = canvas.toDataURL('image/jpeg');

                doc.addImage(imgData, 'JPEG', 10, 10, 180, 150);

                $('#print').append(canvas);
                doc.save('Spec_Sheet.pdf');
            }
        });
    }
</script>   
