<div class="row">
	<div class="col-md-4 mx-auto">
		<div class="card">
			<div class="card-header">
				Registro de usuarios
			</div>
			<div class="card-body">
				<form action="/users/singup" method="POST">
					<div class="form-group">
						<input type="text" class="form-control"
						       name="nombre"
						       placeholder="Introduzca su nombre"
						       value="{{nombre}}">
					</div>
					<div class="form-group">
						<input type="email" class="form-control"
						       name="email"
						       placeholder="Introduzca su email"
						       value="{{email}}">
					</div>
						
    <div class="form-group" align="center">
    	<label>Zona:</label>
    <input type="number" class="form-control"
						       name="zona"
						       min="1"
						       value="{{zona}}">
					</div>
					<div class="form-group">
						<input type="password" class="form-control"
						       name="password"
						       placeholder="Introduzca su contraseña"
						       value="{{password}}">
					</div>
					<div class="form-group">
						<input type="password" class="form-control"
						       name="confirmarpassword"
						       placeholder="Confirme la  contraseña"
						       value="{{confirmarpassword}}">
					</div>	
					<div class="form-group">
						<input type="submit" class="btn btn-primary btn-block" 
							   value="Registrar"></button>
					</div>				
				</form>
			</div>
		</div>
	</div>
</div>